.text-danger {
  color: red;
}

.text-success {
  color: green;
}

.strix-widget-admin .block-help-template {
  display: none;
}

.strix-widget-admin .help-block {
  position: absolute;
  background: white;
  padding: 10px;
  border: 1px solid blue;
  z-index: 10;
}

.strix-widget-admin .help-block p {
  margin-top: 0px;
}

.strix-widget-admin .help-block .dashicons-dismiss {
  float: right;
  cursor: pointer;
}

.strix-widget-admin .btn-insert-tooltip {
  cursor: pointer;
}

.strix-widget-admin label .dashicons {
  float: right;
}

.strix-widget-admin .btn-copy-widget-id {
  text-decoration: none;
}
