.strix-popup {
  position: fixed !important;
  top: 30px;
  right: 20px;
  padding-right: 30px;
  z-index: 1;
  width: auto;
  max-width: 750px;
}

.strix-notification-row a { text-decoration: none }

.strix-star-row {
  display: block;
  color: rgb(246, 187, 6);
  font-size: 23px;
  margin: 8px 0;
  letter-spacing: -1px;
}

.strix-button-primary {
  background-color: #1a976a !important;
  border-color: #1a976a !important;
  margin-right: 10px !important;
  margin-top: 10px !important;
}

.strix-button-primary:hover {
  background-color: #136b4b !important;
  border-color: #136b4b !important;
}

.strix-popup a {
  color: #888 !important;
}
